<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="hu.bme.mit.catleditor.design.Activator"
               id="hu.bme.mit.catleditor.design"
	       name="catleditor">
    </component>
  </extension>
  <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="hu.bme.mit.catleditor.design.GenerateCaTL"
           id="hu.bme.mit.catleditor.design.GenerateCaTL">
     </javaActions>
     <javaActions
           actionClass="hu.bme.mit.catleditor.design.TestPattern"
           id="hu.bme.mit.catleditor.design.testpattern">
     </javaActions>
     <javaActions
           actionClass="hu.bme.mit.catleditor.design.PatternSave"
           id="hu.bme.mit.catleditor.design.PatternSave">
     </javaActions>
     <javaActions
           actionClass="hu.bme.mit.catleditor.design.PatternLoad"
           id="hu.bme.mit.catleditor.design.PatternLoad">
     </javaActions>
  </extension>
</plugin>
